<nav>
    <div class="nav-wrapper topnav">
        <a href="/scrape" class="">Scraper</a>
        <li><a href="https://github.com/Ishmari14/Scrape" target="_blank"></a>GitHub Repo</li>
    </div>
</nav>